body{
    color: cornsilk;
    /*
    background-color: dodgerblue;
    
    background-image: url("/CSS/Leccion05/img/fondo.png");
    background-repeat: no-repeat; /*Se repite en X o en Y
    background-position: right top; /*Posicion en la web
    background-attachment: scroll;/*La imagen sigue o no al scroll (scrool, fixed)*/
    background: dodgerblue url("/CSS/Leccion05/img/fondo.png") no-repeat right top; /*Simplifica todo*/
}

h1{
    text-align: center;
    background-color: dodgerblue;
}